div(id="doctor").doctors__bg
  div.container
    section.doctors
      div.doctors__record
        h2.doctors__title Наши врачи
        p.doctors__description Мы уважаем своих пациентов вне зависимости от трудностей, которые они испытывают
      div.doctors__slider
        div.doctors__item 
          img(src="img/borodin.jpg" alt="Бородин Антон Валерьевич").doctors__img
          div.doctors__info
            h3.doctors__name Бородин<br>Антон Валерьевич
            p.doctors__about Терапевт, опыт работы более 10 лет
        div.doctors__item
          img(src="img/borisova.jpg" alt="Борисова Анна Юрьевна").doctors__img
          div.doctors__info
            h3.doctors__name Борисова<br>Анна Юрьевна
            p.doctors__about Терапевт, опыт работы более 5 лет
        div.doctors__item
          img(src="img/yarovoi.jpg" alt="Яровой Илья Семенович").doctors__img
          div.doctors__info
            h3.doctors__name Яровой<br>Илья Семенович
            p.doctors__about Нарколог, опыт работы более 10 лет
        div.doctors__item
          img(src="img/borodin.jpg" alt="Бородин Антон Валерьевич").doctors__img
          div.doctors__info
            h3.doctors__name Бородин<br>Антон Валерьевич
            p.doctors__about Терапевт, опыт работы более 10 лет
      div.doctors__record
        p.doctors__text Весь персонал обучен не только профессиональному оказанию услуг, но и корректному, бережному, терпеливому обращению. Наши сотрудники могли бы сдавать стресс-тесты в качестве разведчиков палестинской армии – но выбрали дарить тепло и заботу тем, кто в этом нуждается
        a(href="#").doctors__link Записаться на прием
