div.footer
  section.footer__bg
    div.footer__item.container
      h2.visually-hidden "Возрождение"
      p.footer__text © 2019 “Возрождение”. Все права защищены
  section.footer__bg2
    div.footer__item2.container
      a(href="#").footer__link Политика конфиденциальности
