div.help__bg
  div.container
    section.help
      h1(id="patient").help__title Медицинский центр «Возрождение»
      p.help__text Будущее есть у каждого
      a(href="#").help__button 
        span Записаться на прием
      ul.help__lists
        li.help__list
          span.help__icon.help__icon-recovery
          p.help__info Восстановление<br> после травм
        li.help__list
          span.help__icon.help__icon-treatment
          p.help__info Лечение<br> от зависимости
        li.help__list
          span.help__icon.help__icon-care
          p.help__info Уход<br> при деменции
        li.help__list
          span.help__icon.help__icon-hospital
          p.help__info Амбулаторно<br> и с проживанием
