nav.menu__line
  div.menu.container
    div.menu__logo
      a(href="index.html").menu__logo-link 
        span Медицинский центр<br> «Возрождение»
      button.menu-open.menu-open--htx
        span Открыть меню
    div.menu__hidden.menu-hide
      ul.menu__lists
        li.menu__list 
          a(href="#").menu__link Пациентам
        li.menu__list
          a(href="#").menu__link Наши врачи
        li.menu__list
          a(href="#").menu__link Почему мы
        li.menu__list
          a(href="#").menu__link Контакты
      div.menu__phone
        a(href="tel: +7(812)2242563").menu__number  +7 (812) 224 25 63
        a(href="#").menu__call Заказать обратный звонок
