div.patients__bg
  div.container
    section.patients
      h2.patients__title Пациенты, которые будут любимы
      ul.patients__lists
        li.patients__list
          img(src="img/elderly.jpg" alt="Пожилые люди").patients__img
          div.patients__info
            h3.patients__name Пожилые люди
            p.patients__text Со старостью приходит не только мудрость. Мы понимаем, как тяжело бывает пожилым людям и их родственникам. В клинике «Возрождение» ваши близкие получат не просто уход – они смогут жить с достоинством
        li.patients__list
          img(src="img/dependent.jpg" alt="Зависимые").patients__img
          div.patients__info
            h3.patients__name Зависимые
            p.patients__text Борьба начинается здесь.<br> Алкоголь, наркотики и азартные игры появляются в жизни неслучайно: они притупляют боль и дарят мираж светлого будущего. Мы избавляем от иллюзий и даём реальные шансы
        li.patients__list
          img(src="img/weakened.jpg" alt="Ослабленные пациенты").patients__img
          div.patients__info
            h3.patients__name Ослабленные пациенты
            p.patients__text Ваши возможности не ограничены.<br> Болезни и травмы мешают наслаждаться жизнью? Это не навсегда. Большую часть проблем, даже хронических, можно решить с помощью регулярных упражнений и массажа
        
