div.quote__bg
  div.container
    section.quote
      p.quote__text Только тогда станешь человеком,<br> когда научишься видеть человека в другом
      span.quote__author ─ Александр Николаевич Радищев
