div.container
  section(id="reason").reason
    h2.reason__title Почему мы
    ul.reason__lists
      li.reason__list
        span.reason__img.reason__icon1
        h3.reason__name Уважение к пациентам
        p.reason__text С нами комфортно. Мы не просто оказываем терапевтическую помощь – мы создаём комфортные условия для жизни
      li.reason__list
        span.reason__img.reason__icon2
        h3.reason__name Контроль и опека
        p.reason__text По запросу в палатах могут быть подключены видеокамеры, чтобы близкие могли проверить пациента клиники
      li.reason__list
        span.reason__img.reason__icon3
        h3.reason__name Анонимность
        p.reason__text Доступ к медицинским данным<br> и видеокамерам предоставляются только пациенту и доверенным лицам
      li.reason__list
        span.reason__img.reason__icon4
        h3.reason__name Квалификация
        p.reason__text Каждый сотрудник имеет соответствующие<br> его профилю дипломы и опыт
      li.reason__list
        span.reason__img.reason__icon5
        h3.reason__name Лицензии
        p.reason__text Деятельность медицинского центра лицензирована комитетом по здравоохранению
      li.reason__list
        span.reason__img.reason__icon6
        h3.reason__name Доверие государства
        p.reason__text Гарантом качества служат госконтракты<br> на обслуживание
