div.service__bg
  div.container
    div.service
      h2.service__title Оказываем помощь
      p.service__description На коммерческой<br> и некоммерческой основе
      div.service__block
        div.service__sliders
          div.service__slider
            img(src="img/help.jpg" alt="помощь")
          div.service__slider
            img(src="img/help.jpg" alt="помощь")
          div.service__slider
            img(src="img/help.jpg" alt="помощь")
          div.service__slider
            img(src="img/help.jpg" alt="помощь")
        div.service__element
          p.service__text Медицинский центр «Возрождение» лицензирован по направлениям:
          ul.service__items
            li.service__item
              span.service__text Гериатрия
            li.service__item
              span.service__text Терапия
            li.service__item
              span.service__text Психиатрия
            li.service__item
              span.service__text Наркология
            li.service__item
              span.service__text Медицинский массаж
            li.service__item
              span.service__text Сестринское дело
            li.service__item
              span.service__text Организация здравоохранения и общественного здоровья
      p.service__text.service__text--item Все обозначенные услуги, включая уход и проживание, кроме наркологии, могут оказываться бесплатно для пациентов и их родственников. Для этого необходимо передать сведения в регистр получателей социальных услуг. Подробнее об этой процедуре можно узнать по телефону<br> 
        a(href="tel: +7(812)2242563") +7 (812) 224 25 63
