div.side-bar
  ul.side-bar__lists
    li.side-bar__list
      a(href="#patient" data-description="Пациентам").side-bar__link.side-bar__link--active
    li.side-bar__list
      a(href="#doctor" data-description="Наши врачи").side-bar__link
    li.side-bar__list
      a(href="#reason" data-description="Почему мы").side-bar__link
    li.side-bar__list
      a(href="#contact" data-description="Контакты").side-bar__link
