div.trust__bg
  div.container
    section.trust 
      div.trust__info
        h2.trust__title Общайтесь с любимыми
        p.trust__description А груз мы возьмём на себя
        p.trust__text Мы понимаем ваши сомнения и не ждём, что вы примете решение сразу. Просто приезжайте в медицинский центр «Возрождение» и убедитесь, что наши условия лучше, чем могут создать даже самые любящие родственники. Посещение ни к чему вас не обязывает
        img(src="img/love.jpg" alt="общение с любимыми").trust__img
        a(href="#").trust__link Оставить заявку
        a(href="#start").trust__up
          span.visually-hidden  Вверх
